:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 36px;
}
.heroes {
  padding: 100px 0;
  background-color: #f9f7fe;
}
.heroes h1 {
  font-size: 96px;
}
.about-page {
  padding: 100px 0;
}
.about-page h2 {
  font-family: var(--heading-font-family);
}
/*h1,
p,
h2 {
  text-align: center;
}
h1 span,
h2 {
  font-size: 50px;
}
p {
  font-weight: bold;
}*/
.about-section {
  display: flex;
  margin: 60px;
  justify-content: space-evenly;
}
.about-section a {
  justify-content: center;
}
.main-color {
  background-color: #f9f7fe;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  .heroes,
  .about-page {
    padding-bottom: 50px;
  }
  .heroes h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  .email-link {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-page {
    text-align: center;
    margin: 0 10px;
  }
}
